.category{background: #f6f6f6; padding: 87px 0px 58px 0px;}
.catepro_title{margin-bottom: 65px;}
.catepro_title h2{font-size: 24px;}
.catepro_title h4{font-size: 14px;}
.cate_Title{font-size: 24px;margin-bottom: 32px;}
.cate_type{margin-bottom: 45px;}
.cate_type .nav .nav-item a{font-size: 14px;font-family: 'Montserrat', sans-serif;color: #000000;padding: 8px 0px;}
.barter_title{font-size: 18px;margin-bottom: 25px;}
.form_custom .form-check label{font-family: 'Montserrat', sans-serif; font-size: 14px;}
.catepro_items .nav .nav-item img {padding: 15px 8px;background: #ffffff;margin:0px 12px 15px 0px;border-radius: 10px;-webkit-border-radius: 10px;
    -moz-border-radius: 10px;border: 1px solid #dadada;
}
.pro_match{font-size: 18px; margin:40px 0px 28px 0;}